<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My Biography</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2014</h4>
                                    <h4 class="subheading">My Travel Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was lazy to travel, But after I went to Rome and became crazy about traveling. After I go to Switzerland, France, Spain, Germany, Japan, Philippines.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2019</h4>
                                    <h4 class="subheading">Study Aviation Management</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I love traveling, so I entered the aviation management department to get a job at an airline or travel agency.<br>
                                        However, I don't know when I will lose my job due to Covid-19, so I decided to look for another way.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2023</h4>
                                    <h4 class="subheading">Start studying Coding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Looking for what to do, what I chose was coding.<br>
                                        My parents have recommended it for a long time, and my friend said he would learn coding,<br> so I decided to do it together.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/4.png" alt="coding">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2023</h4>
                                    <h4 class="subheading">Get A Job</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I will get a job no later than Jan 2024.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>